<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>
    <h1>Cart</h1>
    <ul>
        {{#each cart.products}}
            <li>{{this.details.title}} - Quantity: {{this.quantity}}</li>
        {{/each}}
    </ul>
</body>
</html>