<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Products List</h1>
    <ul>
        {{#each products}}
            <li>{{title}} - {{description}} - ${{price}}</li>
        {{/each}}
    </ul>
</body>
</html>
